<html>
<body>

<h2>Getting UserDetails</h2>

<form method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>

  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="mobile">Mobile:</label><br>
  <input type="text" id="mobile" name="mobile"><br>

  <label for="dob">Mobile:</label><br>
  <input type="date" id="dob" name="dob"><br>


  <label for="nickname">Nickname:</label><br>
  <input type="text" id="nickname" name="nickname"><br>
  <label for="street">Street Name:</label><br>
  <input type="text" id="street" name="street"><br>

  <label for="street2">Street2 Name:</label><br>
  <input type="text" id="street2" name="street2"><br>
  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>

  <label for="zip">Zip:</label><br>
  <input type="text" id="zip" name="zip"><br>
  <label for="country">Country:</label><br>
  <input type="text" id="country" name="country"><br>

  <label for="state">Country:</label><br>
  <input type="text" id="state" name="state"><br>

  <input type="submit" id="submit" name="submit"><br>
  
</form>


</body>
</html>
